.chat-main {
  background: #000;
  display: grid;
  grid-template-areas:
    'chat-header'
    'chat-area'
    'chat-controls';
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  height: calc(100vh - 60px);
  position: relative;
}

.chat-header {
  grid-area: chat-header;
  z-index: 1;
}

.chat-area {
  grid-area: chat-area;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.chat-message {
  background: var(--dark);
  border: none;
  box-sizing: border-box;
  color: var(--light);
  cursor: pointer;
  display: table;
  margin: 0.25rem;
  padding: 0.75rem;
  position: absolute;
  transition: left 1000ms linear, top 300ms ease-out;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
}

.chat-message:focus {
  box-shadow: 0 0 10px var(--primary);
  outline: none;
}

.chat-message:hover {
  background: var(--primary);
}

.chat-message.voted {
  animation: pop 300ms;
}

@keyframes pop {
  0% {
    transform: translateX(-50%) scale(1);
  }

  50% {
    transform: translateX(-50%) scale(1.3);
  }

  100% {
    transform: translateX(-50%) scale(1);
  }
}

.chat-controls {
  grid-area: chat-controls;
  z-index: 1;
}

.chat-backdrop {
  animation: fade-in 300ms ease-out;
  background-size: auto auto, cover;
  background-position: top center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
