$primary: #ed6a5a;
$secondary: #58a5a5;
$success: #7fa57a;
$info: #d3eaea;
$warning: #eec584;
$danger: #d83f2b;
$light: #fffcf2;
$dark: #3e4345;

$theme-colors: ();
$theme-colors: map-merge((
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
), $theme-colors);

$enable-rounded: false;

$body-bg: #2b3133;
$body-color: $light;

$text-muted: darken($light, 15%);

$alert-border-width: 0;

$custom-select-indicator-color: $primary;

$card-bg: $dark;

$hr-border-color: rgba(255, 255, 255, 0.3);
